// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-boxes {
  .media {
    border: thin solid #ddd;
    padding: 1em;
    border-radius: 10px;
    background: #eee;
    position: relative;
    height: 8em;
    .time {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #888;
    }
    a.btn{
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    &:hover {
      cursor: pointer;
      background-color: #ddd;
    }
  }
}
